# 1. Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'C:\\Users\\Arnold\\OneDrive\\Desktop\\Knowledge Discovery and Data Mining\\Car Regression\\car_prices_regression\\data\\raw'

test_data = pd.read_csv(path + "\\test.csv")
train_data = pd.read_csv(path +"\\train.csv")

In [3]:
train_data.shape

(188533, 13)

In [4]:
test_data.shape

(125690, 12)

In [5]:
train_data.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [6]:
train_data.tail()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
188528,188528,Cadillac,Escalade ESV Platinum,2017,49000,Gasoline,420.0HP 6.2L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,White,Beige,None reported,Yes,27500
188529,188529,Mercedes-Benz,AMG C 43 AMG C 43 4MATIC,2018,28600,Gasoline,385.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,White,Black,At least 1 accident or damage reported,Yes,30000
188530,188530,Mercedes-Benz,AMG GLC 63 Base 4MATIC,2021,13650,Gasoline,469.0HP 4.0L 8 Cylinder Engine Gasoline Fuel,7-Speed A/T,White,Black,None reported,Yes,86900
188531,188531,Audi,S5 3.0T Prestige,2022,13895,Gasoline,3.0L,1-Speed Automatic,Daytona Gray Pearl Effect,Black,None reported,NaN,84900
188532,188532,Porsche,Macan Base,2016,59500,Gasoline,252.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,White,Black,None reported,Yes,28995

In [7]:
test_data.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
0,188533,Land,Rover LR2 Base,2015,98000,Gasoline,240.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Beige,None reported,Yes
1,188534,Land,Rover Defender SE,2020,9142,Hybrid,395.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,Silver,Black,None reported,Yes
2,188535,Ford,Expedition Limited,2022,28121,Gasoline,3.5L V6 24V PDI DOHC Twin Turbo,10-Speed Automatic,White,Ebony,None reported,NaN
3,188536,Audi,A6 2.0T Sport,2016,61258,Gasoline,2.0 Liter TFSI,Automatic,Silician Yellow,Black,None reported,NaN
4,188537,Audi,A6 2.0T Premium Plus,2018,59000,Gasoline,252.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Black,None reported,Yes

In [8]:
test_data.tail()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
125685,314218,Mercedes-Benz,GL-Class GL 450 4MATIC,2014,83315,Gasoline,362.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Black,None reported,Yes
125686,314219,Audi,Q7 55 Prestige,2019,29336,Gasoline,3.0 Liter Turbo,Automatic,White,Black,None reported,NaN
125687,314220,Audi,A6 3.0T Premium Plus,2012,77634,Gasoline,333.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,A/T,Black,Black,None reported,Yes
125688,314221,Audi,Q7 3.0T Premium,2012,112000,Gasoline,333.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,A/T,Black,Black,None reported,Yes
125689,314222,Chevrolet,Tahoe LT,2018,66840,Gasoline,355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Black,None reported,Yes

In [9]:
def info_table(data_frame: pd.DataFrame)->pd.DataFrame:
    
    table = []
    columns = data_frame.columns
    
    for column in columns:
        n_unique = data_frame[column].nunique()
        n_null = data_frame[column].isnull().sum()
        d_type = data_frame[column].dtype
        prop_null = (n_null/len(data_frame[column]))*100
        
        table.append([column, n_unique, n_null,prop_null,d_type])
    
    table = pd.DataFrame(table)
    table.columns = ["Column Name", "Num Unique", "Sum of Nulls", "Prop Null", "Data Type"]
    
    return table

In [10]:
info_table(test_data)

     Column Name  Num Unique  Sum of Nulls  Prop Null Data Type
0             id      125690             0   0.000000     int64
1          brand          55             0   0.000000    object
2          model        1891             0   0.000000    object
3     model_year          36             0   0.000000     int64
4         milage        5700             0   0.000000     int64
5      fuel_type           7          3383   2.691543    object
6         engine        1117             0   0.000000    object
7   transmission          52             0   0.000000    object
8        ext_col         317             0   0.000000    object
9        int_col         156             0   0.000000    object
10      accident           2          1632   1.298433    object
11   clean_title           1         14239  11.328666    object

In [11]:
info_table(train_data)

     Column Name  Num Unique  Sum of Nulls  Prop Null Data Type
0             id      188533             0   0.000000     int64
1          brand          57             0   0.000000    object
2          model        1897             0   0.000000    object
3     model_year          34             0   0.000000     int64
4         milage        6651             0   0.000000     int64
5      fuel_type           7          5083   2.696080    object
6         engine        1117             0   0.000000    object
7   transmission          52             0   0.000000    object
8        ext_col         319             0   0.000000    object
9        int_col         156             0   0.000000    object
10      accident           2          2452   1.300568    object
11   clean_title           1         21419  11.360876    object
12         price        1569             0   0.000000     int64

In [12]:
test_data.describe()

                  id     model_year         milage
count  125690.000000  125690.000000  125690.000000
mean   251377.500000    2015.797526   66042.581510
std     36283.722005       5.673797   50223.858435
min    188533.000000    1974.000000     100.000000
25%    219955.250000    2013.000000   24500.000000
50%    251377.500000    2017.000000   57500.000000
75%    282799.750000    2020.000000   95798.000000
max    314222.000000    2024.000000  405000.000000

In [13]:
test_data.brand.unique()

array(['Land', 'Ford', 'Audi', 'Chevrolet', 'Lexus', 'Mercedes-Benz',
       'Genesis', 'Mazda', 'Porsche', 'Jaguar', 'Honda', 'BMW', 'Toyota',
       'Hummer', 'RAM', 'Jeep', 'Cadillac', 'Saturn', 'Kia', 'Lincoln',
       'Nissan', 'Volkswagen', 'Chrysler', 'Dodge', 'Maserati', 'Subaru',
       'Hyundai', 'Mitsubishi', 'INFINITI', 'Tesla', 'Lamborghini',
       'MINI', 'GMC', 'Acura', 'Buick', 'Rivian', 'Pontiac', 'Alfa',
       'Mercury', 'Volvo', 'Rolls-Royce', 'McLaren', 'Bentley', 'Aston',
       'FIAT', 'Scion', 'Ferrari', 'Lucid', 'Saab', 'Maybach', 'Karma',
       'Suzuki', 'Lotus', 'Bugatti', 'Plymouth'], dtype=object)

In [14]:
print(np.sort(train_data.brand.unique()))

['Acura' 'Alfa' 'Aston' 'Audi' 'BMW' 'Bentley' 'Bugatti' 'Buick'
 'Cadillac' 'Chevrolet' 'Chrysler' 'Dodge' 'FIAT' 'Ferrari' 'Ford' 'GMC'
 'Genesis' 'Honda' 'Hummer' 'Hyundai' 'INFINITI' 'Jaguar' 'Jeep' 'Karma'
 'Kia' 'Lamborghini' 'Land' 'Lexus' 'Lincoln' 'Lotus' 'Lucid' 'MINI'
 'Maserati' 'Maybach' 'Mazda' 'McLaren' 'Mercedes-Benz' 'Mercury'
 'Mitsubishi' 'Nissan' 'Plymouth' 'Polestar' 'Pontiac' 'Porsche' 'RAM'
 'Rivian' 'Rolls-Royce' 'Saab' 'Saturn' 'Scion' 'Subaru' 'Suzuki' 'Tesla'
 'Toyota' 'Volkswagen' 'Volvo' 'smart']

In [15]:
print(np.sort(test_data.brand.unique()))

['Acura' 'Alfa' 'Aston' 'Audi' 'BMW' 'Bentley' 'Bugatti' 'Buick'
 'Cadillac' 'Chevrolet' 'Chrysler' 'Dodge' 'FIAT' 'Ferrari' 'Ford' 'GMC'
 'Genesis' 'Honda' 'Hummer' 'Hyundai' 'INFINITI' 'Jaguar' 'Jeep' 'Karma'
 'Kia' 'Lamborghini' 'Land' 'Lexus' 'Lincoln' 'Lotus' 'Lucid' 'MINI'
 'Maserati' 'Maybach' 'Mazda' 'McLaren' 'Mercedes-Benz' 'Mercury'
 'Mitsubishi' 'Nissan' 'Plymouth' 'Pontiac' 'Porsche' 'RAM' 'Rivian'
 'Rolls-Royce' 'Saab' 'Saturn' 'Scion' 'Subaru' 'Suzuki' 'Tesla' 'Toyota'
 'Volkswagen' 'Volvo']

In [16]:
train_data.fuel_type.unique()

array(['Gasoline', 'E85 Flex Fuel', nan, 'Hybrid', 'Diesel',
       'Plug-In Hybrid', '–', 'not supported'], dtype=object)

In [17]:
train_data.clean_title.unique()

array(['Yes', nan], dtype=object)