# 2. Data Cleaning

In [80]:
import pandas as pd
import numpy as np
import datetime as dt

In [81]:
path = 'C:\\Users\\Arnold\\OneDrive\\Desktop\\Knowledge Discovery and Data Mining\\Car Regression\\car_prices_regression\\data\\raw'

test_data = pd.read_csv(path + "\\test.csv")
train_data = pd.read_csv(path +"\\train.csv")

In [82]:
#Combining the 2 data sets to perform data visualization on them

x_train = train_data.drop("price", axis=1)
y_train = train_data["price"]
    
combined_data_set = pd.concat([x_train,test_data],axis=0, ignore_index=True)

y_train.to_csv("C:\\Users\\Arnold\\OneDrive\\Desktop\\Knowledge Discovery and Data Mining\\Car Regression\\car_prices_regression\\data\\interim\\price.csv")

In [83]:
combined_data_set.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes

In [84]:
## Checking the null values in fuel_type column

fuel_null = combined_data_set.loc[combined_data_set['fuel_type'] == "–"]
fuel_null

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
532,532,Dodge,Challenger R/T Scat Pack,2021,35000,–,–,8-Speed A/T,Blue,Gray,None reported,Yes
1155,1155,Ford,Mustang GT Premium,2017,143600,–,–,6-Speed M/T,White,Black,At least 1 accident or damage reported,Yes
1307,1307,Toyota,Land Cruiser Base,1994,138033,–,–,A/T,Green,Beige,None reported,Yes
1362,1362,Ford,Mustang EcoBoost Premium,2016,43000,–,–,A/T,Blue,Black,None reported,Yes
1741,1741,Chevrolet,Protege DX,1993,94200,–,–,A/T,Red,Gray,None reported,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
313202,313202,Nissan,300ZX Base,1993,168000,–,–,5-Speed M/T,Red,Black,None reported,Yes
313318,313318,Ford,Mustang EcoBoost Premium,2016,111300,–,–,A/T,Orange,Black,None reported,Yes
313412,313412,Toyota,Land Cruiser Base,1996,58500,–,–,A/T,White,Black,None reported,Yes
313634,313634,Chevrolet,1500 Cheyenne,1994,158000,–,–,A/T,White,Brown,At least 1 accident or damage reported,Yes
313877,313877,Dodge,Challenger SRT 392,2016,62000,–,–,8-Speed A/T,Red,Black,None reported,Yes

In [85]:

(len(fuel_null.id)/len(combined_data_set.id)) * 100

0.41976558049538065

We could drop the rows with the null values in the fuel_type column since it is a marginal proportion of all vehicles

In [86]:
combined_data_set = combined_data_set[~(combined_data_set['fuel_type'] == "–")]

In [87]:
not_supported_fuel  = combined_data_set.loc[combined_data_set['fuel_type'] == "not supported"]
not_supported_fuel

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
4823,4823,Chevrolet,Suburban LT,2011,109646,not supported,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,6-Speed A/T,Black,Beige,None reported,Yes
18000,18000,Porsche,Camaro 2SS,2015,67000,not supported,240.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes
19182,19182,Nissan,Mirai Limited,2000,131000,not supported,182.0HP Electric Motor Hydrogen Fuel,A/T,Silver,Black,None reported,Yes
27199,27199,Subaru,Outback 2.5i Limited,2017,116000,not supported,175.0HP 2.5L 4 Cylinder Engine Gasoline Fuel,CVT Transmission,Gray,Black,At least 1 accident or damage reported,Yes
33030,33030,Nissan,Mirai Limited,2009,137333,not supported,182.0HP Electric Motor Hydrogen Fuel,A/T,White,Gray,At least 1 accident or damage reported,Yes
60717,60717,Chevrolet,Silverado 1500 RST,2020,19200,not supported,355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel,10-Speed A/T,White,Black,At least 1 accident or damage reported,Yes
74096,74096,Toyota,Mirai Limited,2021,79876,not supported,182.0HP Electric Motor Hydrogen Fuel,A/T,Red,Black,None reported,Yes
86897,86897,Lexus,IS 350 F Sport,2022,9500,not supported,311.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Gray,Black,None reported,Yes
94425,94425,Porsche,Cayenne Turbo GT,2018,52000,not supported,550.0HP 4.8L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Gray,Gray,At least 1 accident or damage reported,Yes
127066,127066,Toyota,Mirai Limited,2016,58664,not supported,151.0HP Electric Motor Hydrogen Fuel,CVT Transmission,Black,Black,At least 1 accident or damage reported,Yes
128917,128917,Mazda,MX-5 Miata Base,1999,120000,not supported,140.0HP 1.8L 4 Cylinder Engine Gasoline Fuel,5-Speed M/T,Black,Beige,At least 1 accident or damage reported,Yes
135865,135865,Lexus,Mirai Limited,2014,123331,not supported,182.0HP Electric Motor Hydrogen Fuel,A/T,Red,Gray,At least 1 accident or damage reported,Yes
140206,140206,Lexus,RX 330 Base,2006,110000,not supported,230.0HP 3.3L V6 Cylinder Engine Gasoline Fuel,5-Speed A/T,White,Beige,At least 1 accident or damage reported,Yes
171120,171120,Hummer,H2 Base,2013,152068,not supported,316.0HP 6.0L 8 Cylinder Engine Gasoline Fuel,A/T,Black,Black,At least 1 accident or damage reported,Yes
171659,171659,Toyota,Mirai Limited,2021,44000,not supported,182.0HP Electric Motor Hydrogen Fuel,A/T,Gray,Black,None reported,Yes
200729,200729,Toyota,Mirai Base,2011,91491,not supported,151.0HP Electric Motor Hydrogen Fuel,5-Speed A/T,Gray,Gray,None reported,Yes
209488,209488,Alfa,Romeo Stelvio Ti Sport,2018,23600,not supported,280.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,8-Speed A/T,Black,Beige,None reported,Yes
229103,229103,Audi,A3 2.0T Premium,2015,205500,not supported,211.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gold,Beige,At least 1 accident or damage reported,Yes
249628,249628,Toyota,Mirai Base,2018,18000,not supported,151.0HP Electric Motor Hydrogen Fuel,A/T,White,Gray,None reported,Yes
256193,256193,Nissan,Mirai Limited,2016,49688,not supported,151.0HP Electric Motor Hydrogen Fuel,CVT Transmission,Silver,Black,None reported,Yes
259042,259042,Toyota,Mirai Base,2015,46873,not supported,151.0HP Electric Motor Hydrogen Fuel,5-Speed A/T,Green,Black,At least 1 accident or damage reported,Yes
262931,262931,Chevrolet,Corvette Stingray w/2LT,2018,5400,not supported,490.0HP 6.2L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,Black,Red,None reported,Yes
264225,264225,Land,Rover Range Rover Supercharged,2014,134000,not supported,510.0HP 5.0L 8 Cylinder Engine Flex Fuel Capab...,A/T,Red,White,None reported,Yes
266935,266935,Ford,Focus ST Base,2018,49500,not supported,252.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,CVT Transmission,Black,Gray,At least 1 accident or damage reported,Yes
273147,273147,Toyota,Mirai Limited,2021,20500,not supported,151.0HP Electric Motor Hydrogen Fuel,A/T,Silver,Black,None reported,Yes
279874,279874,Toyota,Mirai Limited,2011,107000,not supported,182.0HP Electric Motor Hydrogen Fuel,A/T,Black,Gray,None reported,Yes
285151,285151,Cadillac,Escalade ESV Sport,2018,32000,not supported,420.0HP 6.2L 8 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes
308236,308236,Subaru,WRX STI Base,2014,76500,not supported,305.0HP 2.5L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Black,None reported,Yes
310455,310455,Toyota,Mirai Base,2016,74000,not supported,182.0HP Electric Motor Hydrogen Fuel,A/T,Black,Black,At least 1 accident or damage reported,Yes

In [88]:

(len(not_supported_fuel.id)/len(combined_data_set.id)) * 100

0.009268018305934088

In [89]:
is_na_fuel_type = combined_data_set.loc[combined_data_set["fuel_type"].isna()]
is_na_fuel_type

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
11,11,Tesla,Model S P100D,2015,81500,NaN,Electric Motor Electric Fuel System,1-Speed A/T,Gray,White,None reported,Yes
32,32,Tesla,Model S P100D,2018,30300,NaN,518.0HP Electric Motor Electric Fuel System,A/T,White,White,None reported,Yes
51,51,Tesla,Model 3 Long Range,2020,38360,NaN,Dual Motor - Standard,Automatic,White,Black,None reported,NaN
52,52,Tesla,Model X 75D,2021,88000,NaN,518.0HP Electric Motor Electric Fuel System,1-Speed A/T,Black,Black,None reported,Yes
161,161,Tesla,Model S Long Range,2021,9500,NaN,670.0HP Electric Motor Electric Fuel System,A/T,White,Beige,None reported,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
313955,313955,Rivian,R1S Adventure Package,2023,9000,NaN,835.0HP Electric Motor Electric Fuel System,A/T,Red,White,None reported,Yes
314063,314063,Tesla,Model 3 Long Range,2018,42094,NaN,271.0HP Electric Motor Electric Fuel System,A/T,Black,Black,None reported,Yes
314201,314201,Tesla,Model S 100D,2018,58000,NaN,518.0HP Electric Motor Electric Fuel System,1-Speed A/T,Gray,Black,None reported,Yes
314210,314210,Tesla,Model 3 Long Range,2019,69548,NaN,Electric Motor Electric Fuel System,1-Speed A/T,Red,Black,None reported,Yes
314217,314217,Tesla,Model S 85,2014,67647,NaN,362.0HP Electric Motor Electric Fuel System,1-Speed A/T,Blue,Black,At least 1 accident or damage reported,Yes

It appears most of these vehicles are electric

In [90]:
(len(is_na_fuel_type.id)/len(combined_data_set.id)) * 100

2.7056221716564828

In [91]:
## Checking if all vehicles are electric

is_na_fuel_type[~is_na_fuel_type['engine'].str.contains("electric|Dual Motor|battery|kw" , case = False)]

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
3286,3286,smart,ForTwo Pure,2008,156875,NaN,70.0HP 1.0L 3 Cylinder Engine Gasoline Fuel,2-Speed A/T,Black,Gray,At least 1 accident or damage reported,Yes
6794,6794,Chevrolet,Corvette Stingray w/2LT,2023,10900,NaN,490.0HP 6.2L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,Blue,Brown,None reported,Yes
8879,8879,Audi,Q5 S line Premium Plus,2016,35315,NaN,2.0 Liter TFSI,Automatic,Daytona Gray,Black,At least 1 accident or damage reported,NaN
8908,8908,BMW,M3 CS,2022,13777,NaN,453.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Automatic,Gray,Black,None reported,Yes
9522,9522,Kia,EV6 Wind,2022,4514,NaN,1.6L I4 16V GDI DOHC Turbo,Automatic,Pacific Blue Metallic,Satin Black,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
308824,308824,Tesla,Model S 75D,2017,51808,NaN,5.0L V8 32V PDI DOHC,1-Speed Automatic,Black,Black,None reported,NaN
310616,310616,Mercedes-Benz,C-Class C 300 4MATIC,2018,64300,NaN,261.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Black,–,None reported,Yes
312225,312225,Porsche,718 Cayman GT4,2021,23600,NaN,414.0HP 4.0L Flat 6 Cylinder Engine Gasoline Fuel,6-Speed M/T,Red,Black,None reported,Yes
312319,312319,Ford,F-150 Lightning LARIAT,2020,18385,NaN,5.0L V8 32V PDI DOHC,1-Speed Automatic,Caspian Blue,Gray,NaN,NaN
312982,312982,Audi,S5 3.0T Premium,2023,654,NaN,349.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,1-Speed A/T,Gray,Black,None reported,Yes

We could add a column to confirm whether a car is electric or not. It appears that some vehicles have been modded e.g. There is a Tesla with a 5 liter engine. However, it is difficult to ascertain if all cars that fall under this category has been modded. For example the Acura MDX 3.5L is not electric. Additionally, there are only 162 rows of these vehicles that do not fit in the electric category or fuel category without further cleaning.

In [92]:
electric_cars_list  = "electric|Dual Motor|battery|kw"

combined_data_set.loc[:,"electric"] = np.where(combined_data_set["engine"].str.contains(electric_cars_list,case = False, na= False),1,0)

In [93]:
##Checking the accident status

combined_data_set.accident.unique()

array(['None reported', 'At least 1 accident or damage reported', nan],
      dtype=object)

In [94]:
combined_data_set.loc[combined_data_set["accident"].isna()].head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,electric
87,87,RAM,2500 Big Horn,2012,95400,Diesel,350.0HP 6.7L Straight 6 Cylinder Engine Diesel...,6-Speed A/T,Black,Black,NaN,NaN,0
134,134,Jeep,Gladiator Sport,2021,61341,Gasoline,3.6L V6 24V MPFI DOHC,8-Speed Automatic,Firecracker Red Clearcoat,Black,NaN,NaN,0
164,164,Acura,RDX w/A-Spec Package,2023,39517,Gasoline,2.0 Liter DOHC Turbo,Automatic,Gray,Black,NaN,NaN,0
333,333,Mercedes-Benz,SLK-Class SLK320,2001,170000,Gasoline,215.0HP 3.2L V6 Cylinder Engine Gasoline Fuel,5-Speed A/T,Black,Beige,NaN,NaN,0
361,361,RAM,2500 SLT,2016,69600,Gasoline,410.0HP 6.4L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Blue,Gray,NaN,NaN,0

In [95]:
combined_data_set.loc[combined_data_set["accident"].isna()].tail()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,electric
313559,313559,Jeep,Gladiator Overland,2020,49814,Gasoline,3.6L V6 24V MPFI DOHC,8-Speed Automatic,Firecracker Red Clearcoat,Black,NaN,NaN,0
313883,313883,BMW,X6 xDrive50i,2019,57918,Gasoline,445.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,White,Beige,NaN,NaN,0
313928,313928,Ford,F-250 XL,2022,38012,Gasoline,5.7L V8 16V MPFI OHV,Automatic,Delmonico Red Pearlcoat,Black,NaN,NaN,0
313957,313957,Audi,S5 3.0T Prestige,2019,67015,Gasoline,3.0L,1-Speed Automatic,Daytona Gray Pearl Effect,Black,NaN,NaN,0
314025,314025,Dodge,Ram 3500 Quad Cab DRW,2006,110500,Diesel,400.0HP 6.7L Straight 6 Cylinder Engine Diesel...,6-Speed A/T,Red,Gray,NaN,NaN,0

In [96]:
len(combined_data_set.loc[combined_data_set["accident"].isna()])

4062

In [97]:
len(combined_data_set.loc[combined_data_set["accident"].isna() & combined_data_set["clean_title"].isna()])

4039

From our initial analysis, we can see that most cars missing the accident value also are missing the clean title value. This is because it might not be possible to check whether the vehicle has been involved in an accident using the VIN number. Since approximately 12% of the data is slightly significant, we could fill the NA values with unknown. Additionally, more information may be available upon further analysis

In [98]:
combined_data_set.loc[:,"accident"] = combined_data_set["accident"].fillna("unknown")
combined_data_set.loc[:,"clean_title"] = combined_data_set["clean_title"].fillna("unknown")

In [99]:
## Creating a feature for age
max_year = dt.date(2021,1,1).year
combined_data_set["model_year"] = pd.to_datetime(combined_data_set["model_year"], format = "%Y").dt.year
combined_data_set["age"] = max_year - combined_data_set.model_year

In [100]:
combined_data_set.columns

Index(['id', 'brand', 'model', 'model_year', 'milage', 'fuel_type', 'engine',
       'transmission', 'ext_col', 'int_col', 'accident', 'clean_title',
       'electric', 'age'],
      dtype='object')

In [101]:
## Creating a feature of brand popularity

brand_popularity = combined_data_set.brand.value_counts()
brand_popularity_counts = combined_data_set["brand"].map(brand_popularity)
popularity_bins = [0,5000,10000,40000]
popularity_labels = ["low", "medium", "high"]
combined_data_set["brand_popularity"]  = pd.cut(brand_popularity_counts, bins = popularity_bins, labels=popularity_labels, include_lowest=True)

In [102]:
## Creating a feature for miles per year

combined_data_set["miles_per_year"] = combined_data_set.milage / combined_data_set.age

In [103]:
## Creating a feature for color popularity

color_counts = combined_data_set['ext_col'].value_counts()
color_bins = [0,2000,10000,90000]
color_labels = ["low", "medium", "high"]
color_popularity = combined_data_set.ext_col.map(color_counts)

combined_data_set["color_popularity"] = pd.cut(color_popularity,bins = color_bins,labels=color_labels,include_lowest=True)

In [104]:
# Dropping the ID columns

combined_data_set = combined_data_set.drop("id", axis = 1)